{% load static %}

<!DOCTYPE html>

<html>
<head>
<style>
h1 {text-align: center;}
form {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Menu</title>
    </head>
    <body>
        <h1>
            Book Search
        </h1>

        <form action="{% url 'search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
        </form>

        <h2>
            Book of the Day:
        </h2>

    </body>
</html>